@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';
@import '../../../assets/css/essential';
@import '../../../assets/css/samim';
@import 'font-awesome/scss/font-awesome';
@import '../../bower_components/Bootflat/bootflat/scss/bootflat';

// body style configuration
body {
  @extend %no-select;
  background-color: $light-white-color;
  font-size: 14px;
  margin: $zero;
  padding: $zero;

  &.login {
    background-color: $dark-blue-color;
  }
}

.login {
  margin: 16px $auto;
  width: 400px;

  p {
    padding: 12px;
  }

  input[type="email"],
  input[type="password"] {
    background: $pure-white-color;
    border-color: $normal-white-color;
    color: $medium-gray-color;

    &:focus {
      border-color: $light-gray-color;
    }
  }

  .login-header,
  .login p {
    margin-bottom: $zero;
    margin-top: $zero;
  }

  .login-header {
    background: $dark-cyan-color;
    color: $pure-white-color;
    font-size: $full-em;
    padding: $full-em;
    text-align: $center;
    text-transform: uppercase;
  }

  .login-container {
    background: $pure-white-color;
    padding: 12px;
  }
}
// end of login style group

// nav style group
.navbar {
  @include radius-normal($zero, $zero, $zero, $zero);

  .navbar-brand {
    margin: $zero !important;
    padding: $zero;
  }
}
// end of nav style group

// main container style group
.container {
  h4 {
    border-bottom: solid 1px $normal-green-color;
    font-size: $full-em * 2;
    padding-bottom: $half-em;
  }
}
// end of main container style group

// content body style
.jumbotron {
  margin-bottom: $full-rem * 5;

  h3 {
    font-size: $full-em * 2;
    font-weight: normal;
    margin: $zero;
  }

  h1 {
    a {
      display: $disblock;
      font-size: $half-em;
      height: $full-size;
      width: $full-size;

      i {
        @extend %clear;
        @extend %mb;

        display: $disblock;
        font-size: $full-rem * 4;
        height: $full-size;
        width: $full-size;
      }
    }
  }
}

// end of content body style

// footer style
footer {
  @extend %transition-normal;

  background-color: $light-black-color;
  bottom: $zero;
  height: $footerheight;
  left: $zero;
  overflow: $hidden;
  position: $fixed;
  width: $full-size;
  z-index: 10;

  p {
    color: $medium-white-color;
    display: $disblock;
    height: $footerheight;
    line-height: $footerheight;
    margin: $zero;
    padding-right: $half-em;
  }
}

// end of style group

.jumbotron {
  @include padding($full-em, $full-em, $full-em, $full-em);

  h1 {
    @extend %noMargin;
  }
}

table td img {
  max-width: $full-size;
}
