%clear {
  clear: both;
}

:focus {
  outline: $none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $zero;
}

a {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: $none;
    text-decoration: $none;
  }
}

textarea {
  height: 150px;
  max-height: 200px;
  max-width: $full-size;
  min-height: 100px;
  min-width: $full-size;
  width: $full-size;
}

ul,
li {
  list-style: $none;
  margin: $zero;
  padding: $zero;
}

%no-select {
  -moz-user-select: $none;
  -ms-user-select: $none;
  -webkit-user-select: $none;
  user-select: $none;
}

%rtl,
.rtl {
  direction: $dirright;
}

%ltr {
  direction: $dirleft;
}

%en-font,
.en-font {
  font-family: $font-stack-en;
}

.hiding {
  @include opacity($zero);
}

.showing {
  @include opacity(1);
}

%fa-font,
.fa-font {
  font-family: $font-stack;
}

%block-el {
  display: $disblock;
}

%bg-white,
.bg-white {
  background-color: $pure-white-color;
}

%text-white,
.text-white {
  color: $pure-white-color;
}

%text-black,
.text-black {
  color: $pure-black-color;
}

%mt {
  margin-top: $half-em;
}

%mb {
  margin-bottom: $half-em;
}

%noPadding {
  padding: $zero;
}

%transition-normal {
  @include transition(all .4s);
}

%no-padding-side {
  padding-left: $zero;
  padding-right: $zero;
}

%round-corner {
  @include radius-normal($all: true);
}

%round-corner-full {
  @include radius-normal($all: true, $full: true);
}

%box-style {
  @extend %round-corner;
  @extend %bg-white;
}

%wrapper {
  margin: $zero $auto;
  max-width: 1200px;
}

%tooltip-inner {
  font-family: $font-stack;
  min-width: 100px;
}

.fi-rotate-180 {
  @include fi-icon-rotate(180deg, 2);
}

.mt-half,
%mt-half {
  @include margin($half-em, $zero, $zero, $zero);
}

.mt,
%mt {
  @include margin($full-em, $zero, $zero, $zero);
}

.mt-double,
%mt-double {
  @include margin($full-em * 2, $zero, $zero, $zero);
}

.mr-half,
%mr-half {
  @include margin($zero, $half-em, $zero, $zero);
}

.mr,
%mr {
  @include margin($zero, $full-em, $zero, $zero);
}

.mr-double,
%mr-double {
  @include margin($zero, $full-em * 2, $zero, $zero);
}

.mb-half,
%mb-half {
  @include margin($zero, $zero, $half-em, $zero);
}

.mb,
%mb {
  @include margin($zero, $zero, $full-em, $zero);
}

.mb-double,
%mb-double {
  @include margin($zero, $zero, $full-em * 2, $zero);
}

.ml-half,
%ml-half {
  @include margin($zero, $zero, $zero, $half-em);
}

.ml,
%ml {
  @include margin($zero, $zero, $zero, $full-em);
}

.ml-double,
%ml-double {
  @include margin($zero, $zero, $zero, $full-em * 2);
}

.mz,
%mz {
  @include margin($zero, $zero, $zero, $zero);
}

.pt-half,
%pt-half {
  @include padding($half-em, $zero, $zero, $zero);
}

.pt,
%pt {
  @include padding($full-em, $zero, $zero, $zero);
}

.pt-double,
%pt-double {
  @include padding($full-em * 2, $zero, $zero, $zero);
}

.pr-half,
%pr-half {
  @include padding($zero, $half-em, $zero, $zero);
}

.pr,
%pr {
  @include padding($zero, $full-em, $zero, $zero);
}

.pr-double,
%pr-double {
  @include padding($zero, $full-em * 2, $zero, $zero);
}

.pb-half,
%pb-half {
  @include padding($zero, $zero, $half-em, $zero);
}

.pb,
%pb {
  @include padding($zero, $zero, $full-em, $zero);
}

.pb-double,
%pb-double {
  @include padding($zero, $zero, $zero, $full-em * 2);
}

.pl-half,
%pl-half {
  @include padding($zero, $zero, $zero, $half-em);
}

.pl,
%pl {
  @include padding($zero, $zero, $zero, $full-em);
}

.pl-double,
%pl-double {
  @include padding($zero, $zero, $zero, $full-em * 2);
}

.row {
  &.xxxsmall-space {
    @extend %clear;

    padding-bottom: $half-em;
    padding-top: $half-em;
    width: $full-size;
  }

  &.xxsmall-space {
    @extend %clear;

    padding-bottom: $full-em;
    padding-top: $full-em;
    width: $full-size;
  }

  &.xsmall-space {
    @extend %clear;

    padding-bottom: $full-em * 2;
    padding-top: $full-em * 2;
    width: $full-size;
  }

  &.halfsmall-space {
    @extend %clear;

    padding-bottom: $full-em * 2.5;
    padding-top: $full-em * 2.5;
    width: $full-size;
  }

  &.small-space {
    @extend %clear;

    padding-bottom: $full-em * 4;
    padding-top: $full-em * 4;
    width: $full-size;
  }

  &.medium-space {
    @extend %clear;

    padding-bottom: $full-em * 6;
    padding-top: $full-em * 6;
    width: $full-size;
  }

  &.large-space {
    @extend %clear;

    padding-bottom: $full-em * 8;
    padding-top: $full-em * 8;
    width: $full-size;
  }

  &.xlarge-space {
    @extend %clear;

    padding-bottom: $full-em * 10;
    padding-top: $full-em * 10;
    width: $full-size;
  }
}
