@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/flaticon/Flaticon.eot');
  src: url('../fonts/flaticon/Flaticon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/flaticon/Flaticon.woff') format('woff'),
  url('../fonts/flaticon/Flaticon.ttf') format('truetype'),
  url('../fonts/flaticon/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('../fonts/flaticon/Flaticon.svg#Flaticon') format('svg');
  }
}

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.flaticon-address:before {
  content: '\f100';
}

.flaticon-angle-bottom:before {
  content: '\f101';
}

.flaticon-angle-left:before {
  content: '\f102';
}

.flaticon-angle-right:before {
  content: '\f103';
}

.flaticon-angle-top:before {
  content: '\f104';
}

.flaticon-bell:before {
  content: '\f105';
}

.flaticon-circle:before {
  content: '\f106';
}

.flaticon-correct:before {
  content: '\f107';
}

.flaticon-email:before {
  content: '\f108';
}

.flaticon-fax:before {
  content: '\f109';
}

.flaticon-phone:before {
  content: '\f10a';
}

.flaticon-postal:before {
  content: '\f10b';
}

.flaticon-search:before {
  content: '\f10c';
}

$font-Flaticon-address: '\f100';
$font-Flaticon-angle-bottom: '\f101';
$font-Flaticon-angle-left: '\f102';
$font-Flaticon-angle-right: '\f103';
$font-Flaticon-angle-top: '\f104';
$font-Flaticon-bell: '\f105';
$font-Flaticon-circle: '\f106';
$font-Flaticon-correct: '\f107';
$font-Flaticon-email: '\f108';
$font-Flaticon-fax: '\f109';
$font-Flaticon-phone: '\f10a';
$font-Flaticon-postal: '\f10b';
$font-Flaticon-search: '\f10c';
