@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin box-shadow-normal($left, $top, $blur, $color, $inset:'') {
  -moz-box-shadow: $left $top $blur $color #{$inset};
  -webkit-box-shadow: $left $top $blur $color #{$inset};
  box-shadow: $left $top $blur $color #{$inset};
}

@mixin rounded($radius: 3px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient($from, $to) {
  background: #ff882c; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff882c 0%, #fe5454 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff882c 0%,#fe5454 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff882c 0%,#fe5454 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff882c', endColorstr='#fe5454',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin radius-normal($topleft: 3px, $topright: 3px, $bottomright: 3px, $bottomleft: 3px, $all: false, $full: false) {
  @if $all == false {
    -moz-border-radius: $topleft $topright $bottomright $bottomleft !important;
    -webkit-border-radius: $topleft $topright $bottomright $bottomleft !important;;
    border-radius: $topleft $topright $bottomright $bottomleft !important;;
  } @else if($all == true, $full == true) {
    -moz-border-radius: $full-size !important;;
    -webkit-border-radius: $full-size !important;;
    border-radius: $full-size !important;;
  } @else {
    -moz-border-radius: $topleft !important;;
    -webkit-border-radius: $topleft !important;;
    border-radius: $topleft !important;;
  }
}

@mixin fi-icon-rotate($degrees, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin margin($top: $zero, $right: $zero, $bottom: $zero, $left: $zero) {
  margin: $top $right $bottom $left !important;
}

@mixin padding($top: $zero, $right: $zero, $bottom: $zero, $left: $zero) {
  padding: $top $right $bottom $left !important;
}

@mixin opacity($opacity) {
  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';

  /* IE 5-7 */
  filter: alpha(opacity = $opacity * 100);

  /* Netscape */
  -moz-opacity: $opacity;

  /* Safari 1.x */
  -khtml-opacity: $opacity;

  /* Good browsers */
  opacity: $opacity;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// mixin for rotation
@mixin transform-rotate($deg: 0) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate($deg+deg);
  -ms-transform: rotate($deg+deg);
  transform: rotate($deg+deg);
}
