@media screen and (max-width: 920px) {
  header {
    .logo {
      h5 {
        display: $none;
      }
    }
  }

  .search-container {
    &.pull-left {
      left: $zero !important;
    }
  }
}

@media screen and (max-width: 768px) {

  nav {
    background-color: $dark-gray-color;
    /* Firefox */
    height: -moz-calc(100% - 85px);
    /* WebKit */
    height: -webkit-calc(100% - 85px);
    /* Opera */
    height: -o-calc(100% - 85px);
    /* Standard */
    height: calc(100% - 85px);
    max-width: 300px;
    padding-left: $full-em * 2;
    position: $fixed;
    top: $headerheight;
    width: $full-size;
    z-index: 2;

    &.pull-left {
      left: -$full-size;
    }

    &.pull-right {
      right: -$full-size;
    }

    &.active.pull-left {
      left: $zero;
    }

    &.active.pull-right {
      right: $zero;
    }

    li {
      width: $full-size;

      a {
        color: $pure-white-color !important;
        font-weight: normal;

        &:visited {
          color: $cyan-color !important;
        }

        &::before {
          background-color: $cyan-color !important;
        }
      }
    }
  }

  footer {
    p {
      font-size: 13px;
    }
  }
}
