@media screen and (min-width: 1250px) {

  body {
    &.hugContent {
      #progress-back {
        bottom: -5px !important;
      }

      #controls-wrapper {
        bottom: 45px !important;
      }
    }
  }

  .sliderContainer {
    bottom: $zero;
    position: $fixed !important;
  }

  footer {
    position: $fixed !important;
  }
}

@media screen and (min-width: 1024px) {
  .box.miniBox {
    margin-left: $full-em * 5;
  }
}

@media screen and (max-width: 920px) {
  header {
    .logo {
      h5 {
        display: $none;
      }
    }
  }

  .search-container {
    &.pull-left {
      left: $zero !important;
    }
  }

  footer {
    display: $distable;
    bottom: inherit;
    height: auto;
    position: inherit;

    p {
      display: $disblock;
      text-align: $center;
      width: $full-size;
    }
  }

  #progress-back {
    bottom: -40px;
    position: $relative;
  }

  #controls-wrapper {
    bottom: 5px;
    position: $relative;
  }
}

@media screen and (max-width: 768px) {
  .topNav {
    background-color: $dark-gray-color;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: -o-calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 300px;
    padding-left: $full-em * 2;
    position: $fixed;
    top: $headerheight;
    width: $full-size;
    z-index: 2;

    &.pull-left {
      left: -$full-size;
    }

    &.pull-right {
      right: -$full-size;
    }

    &.active.pull-left {
      left: $zero;
    }

    &.active.pull-right {
      right: $zero;
    }

    li {
      width: $full-size;

      a {
        color: $pure-white-color !important;
        font-weight: normal;

        &:visited {
          color: $pure-white-color !important;
        }

        &.active {
          color: $cyan-color !important;

          &::before {
            background-color: $cyan-color !important;
          }
        }
      }

      .dropdown-menu {
        width: $full-size;

        a {
          color: $dark-black-color !important;
        }
      }
    }
  }

  .box {
    h1 {
      font-size: $full-em;
    }
  }

  .nav {
    margin: $zero $auto;
  }

  .nav.nav--berta {
    width: $full-size;
  }

  .navbar-collapse {
    li {
      width: $full-size;
    }
  }

  footer {
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 700px) {
  .body-content {
    padding: $half-em;
  }
}