@import 'variables';
@import 'mixins';
@import 'essential';
@import 'hamburgers/hamburgers';
@import 'samim';
@import 'supersized';
@import 'flaticon';

// body style configuration
body {
  @extend %no-select;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url('../images/kavoshabzar-background-5.jpg') no-repeat fixed center center;
  background-size: cover;
  margin: $zero;
  padding: $zero;
  font-size: 14px;

  &.fixed {
    height: $full-size;
    overflow: $hidden;
    position: $fixed;
    width: $full-size;
  }
}

html[lang="fa"] body {
  @extend %fa-font;
}

html[lang="en"] body {
  @extend %en-font;
}
// end of body style configuration

// top header
header {
  background-color: $dark-black-color;
  height: $headerheight;
  left: $zero;
  position: $fixed;
  top: $zero;
  width: $full-size;
  z-index: 2;

  > a {
    display: $disblock;
    height: $full-size;
    max-width: 150px;
    width: $full-size;

    &.pull-right {
      padding-right: $half-em;

      h5 {
        display: $none;
        visibility: $hidden;
      }
    }

    &.pull-left {
      padding-left: $half-em;
    }

    h5 {
      left: 100px;
      line-height: .8;
      margin: $zero;
      position: $absolute;
      top: $half-em;
      width: 300px;

      b {
        color: $cyan-color;
        display: $disblock;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.2;
        width: $full-size;
      }

      span {
        color: $light-white-color;
        font-size: .9em;
      }
    }

    img {
      margin-top: .5em;
      max-height: 35px;
      //width: $full-size;
    }
  }

  .search-container {
    @extend %transition-normal;
    @include rounded(18px);

    border: solid 1px $medium-gray-color;
    height: 35px;
    position: $relative;
    top: 7px;
    width: 35px;

    input[type="text"] {
      @include opacity($zero);

      background: $none;
      border: $none;
      height: 35px;
      visibility: $hidden;
      width: $full-size;
    }

    i {
      @extend %transition-normal;
      @include rounded(18px);

      cursor: $pointer;
      height: 35px;
      line-height: 33px;
      position: $absolute;
      top: $zero;
      width: 35px;
    }

    &.pull-right {
      right: 70px;

      input[type="text"] {
        padding-left: 2.5em;
        padding-right: $half-em;
      }

      .flaticon-search {
        @include opacity(1);

        left: initial;
        right: $zero;
        visibility: $visibile;
      }

      .flaticon-circle {
        @include opacity($zero);

        color: $light-pink-color;
        left: initial;
        right: $zero;
        visibility: $hidden;
      }
    }

    &.pull-left {
      left: 250px;

      input[type="text"] {
        padding-right: 2.5em;
        padding-left: $half-em;
      }

      .flaticon-search {
        @include opacity(1);

        left: initial;
        right: $zero;
        visibility: $visibile;
      }

      .flaticon-circle {
        @include opacity($zero);

        color: $light-pink-color;
        left: initial;
        right: $zero;
        visibility: $hidden;
      }
    }

    &.active {
      @include rounded(3px);
      @extend %bg-white;

      width: 200px;

      input[type="text"] {
        @include opacity(1);

        visibility: $visibile;
      }

      i {
        @include rounded(3px);
      }

      &.pull-right {
        .flaticon-search {
          @include opacity($zero);

          left: $zero;
          right: initial;
          visibility: $hidden;
        }

        .flaticon-circle {
          @include opacity(1);

          left: $zero;
          right: initial;
          visibility: $visibile;
        }
      }

      &.pull-left {
        .flaticon-search {
          @include opacity($zero);

          left: $zero;
          right: initial;
          visibility: $hidden;
        }

        .flaticon-circle {
          @include opacity(1);

          left: initial;
          right: $zero;
          visibility: $visibile;
        }
      }
    }
  }
}
// end f top header

// website navigation
.topNav {
  @extend %transition-normal;
  height: $headerheight;

  &.pull-left {
    padding-left: $full-em * 2;
  }

  &.pull-right {
    padding-right: $full-em * 2;
  }

  > ul {
    &.rtl {
      > li {
        float: $right;

        a {
          font-size: .9em;
          text-align: $right;
        }
      }
    }

    &.ltr {
      > li {
        float: $left;
      }
    }
  }

  li {
    height: $headerheight;
    position: $relative;
    width: $auto;

    a {
      @extend %transition-normal;

      color: $light-white-color;
      display: $disblock;
      font-size: $full-em;
      font-weight: 200;
      height: $full-size;
      line-height: $headerheight;
      padding: $zero $full-em;
      width: $full-size;

      &:hover,
      &:active,
      &:focus {
        color: $cyan-color;
      }

      &:visited {
        color: $light-white-color;
      }

      i {
        @extend %transition-normal;

        display: inline-block;
        margin: $zero $half-em;
        font-size: $full-rem;
      }
    }

    a.active {
      color: $cyan-color;
      font-style: italic;
      position: $relative;

      &::before {
        background-color: $cyan-color;
        bottom: $zero;
        content: '';
        height: 2px;
        left: $zero;
        position: $absolute;
        width: $full-size;
        z-index: 2;
      }
    }

    ul {
      @include radius($zero, $zero, 3px, 3px);

      background-color: $dark-black-color-az !important;

      &.rtl {
        left: initial !important;
        right: $zero;
      }

      &.ltr {
        left: $zero;
        right: initial !important;
      }

      margin: $zero !important;

      li {
        height: 35px;

        a {
          color: $pure-white-color !important;
          line-height: 33px !important;

          &:hover,
          &:focus,
          &:active {
            color: $light-gray-color !important;
          }

          &:visited {
            color: $pure-white-color !important;
          }
        }

        &:hover {
          a {
            color: $light-black-color !important;
          }
        }
      }
    }
  }
}
// end of navigation website

// body content style
.body-content {
  height: $auto;
  margin-top: $headerheight;
  min-height: 300px;
  overflow: $hidden;
  padding: $full-em * 2;
  width: $full-size;
}

.box {
  @include radius();

  height: auto;
  margin-bottom: $full-em * 2;
  min-height: 500px;
  padding: $full-em;
  position: $relative;
  width: $full-size;

  &.contact_us,
  &.products {
    display: $distable;
    max-height: 500px;
    max-width: 1200px;
    overflow-x: $hidden;
    overflow-y: $auto;
  }

  .banner-container {
    height: $auto;
    max-height: 380px;
    overflow: $hidden;
    position: $relative;
    width: $full-size;

    &::before {
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,5b5b5b+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(91, 91, 91, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(91, 91, 91, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(91, 91, 91, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#5b5b5b', GradientType=0); /* IE6-9 */
      bottom: $zero;
      height: 200px;
      position: $absolute;
      left: $zero;
      width: $full-size;
    }

    img {
      @include rounded();

      width: $full-size;
    }
  }

  h1 {
    color: $pure-white-color;
    font-size: $full-em * 1.8;
    left: $zero;
    line-height: 2;
    padding: $zero $full-em;
    position: $absolute;
    top: $zero;
    width: $full-size;

    &.ltr {
      text-align: $left;
    }

    &.rtl {
      text-align: $right;
    }
  }

  iframe {
    @include radius();

    border: solid 1px $medium-white-color;
    height: 200px;
    width: $full-size;
  }

  .list {

    li {
      position: $relative;

      b {
        color: $dark-cyan-color;
        font-weight: normal;
      }

      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3) {
        direction: $dirleft;
      }

      i {
        color: $light-pink-color;
        font-size: 1.5em;
        position: $absolute;
        top: .3em;
      }
    }

    &.rtl {
      @extend %pr-double;

      i {
        right: -1.5em;
      }
    }

    &.ltr {
      @extend %pl-double;

      i {
        left: -1.5em;
      }
    }
  }
}

.box.miniBox {
  height: 200px;
  margin-bottom: $full-em;
  max-width: 450px;
  min-height: initial;
  padding: $zero;

  .img-container {
    position: $relative;
    width: 40%;

    img {
      left: -$full-em;
      position: $absolute;
      top: .7em;
      width: 100%;
    }
  }

  .content {
    width: 60%;

    h2 {
      color: $dark-cyan-color;
      font-size: $full-em * 2;
      font-weight: 200;
      height: $headerheight;
      line-height: $headerheight;
      margin: $zero;
      width: $full-size;
    }

    article {
      color: $light-normal-gray-color;
      font-size: $full-em;

      a {
        @include radius();

        background-color: $light-green-color;
        bottom: $full-em;
        height: 30px;
        line-height: 30px;
        padding: $zero $half-em;
        position: $absolute;
        right: -$full-em;
        width: 100px;
      }
    }
  }
}

// end of body content style

// navigation under banner style
.belowNav {
  @include radius($zero, $zero, 3px, 3px);

  min-height: 42px;
  width: $full-size;

  li {
    a {
      display: $disblock;
      height: 40px;
      line-height: 40px;
      padding-bottom: $zero;
      padding-top: $zero;
      width: $full-size;
    }
  }
}

// end of navigation under banner style

// change default tab of bootstrap style
.nav-tabs {
  text-align: $center;

  li {
    display: inline-block;
    float: $none;
    position: $relative;

    &.active {

      a,
      a:focus,
      a:hover {
        background: $none;
        border: $none;

        &::before {
          background-color: $dark-cyan-color;
          bottom: $zero;
          content: '';
          height: 1px;
          left: $zero;
          position: $absolute;
          width: $full-size;

        }
      }
    }
  }

  &.nav {
    > li {
      > a,
      > a:hover,
      > a:focus {
        background: $none;
        border: $none;
      }
    }
  }
}

.tab-content {
  padding: $full-em $zero;
}

// end of change default tab of bootstrap style

// footer of website
footer {
  background-color: $light-black-color;
  bottom: $zero;
  height: $footerheight;
  left: $zero;
  position: $fixed;
  width: $full-size;
  z-index: 10;

  .lang-selector {
    height: $footerheight;
    margin-left: $full-em;
    max-width: 200px;
    width: $full-size;

    li {
      height: $footerheight;
      margin-right: $half-em;
      width: 30px;

      &:nth-child(1) {
        .tooltip {
          @extend %en-font;
        }
      }

      &:nth-child(2) {
        .tooltip {
          @extend %fa-font;
        }
      }
    }

    a {
      display: $disblock;
      height: $full-size;
      position: $relative;

      &.active {
        &::before {
          background-color: $cyan-color;
          bottom: $zero;
          content: '';
          height: 2px;
          left: $zero;
          position: $absolute;
          width: $full-size;
        }
      }

      img {
        display: $disblock;
        max-width: 25px;
        position: $relative;
        top: $half-em;
      }
    }
  }

  p {
    color: $medium-white-color;
    display: $disblock;
    height: $footerheight;
    line-height: $footerheight;
    margin: $zero;
    padding-right: $half-em;

    &.rtl {
      font-size: .8em;
      line-height: 33px;
    }

    .current-year {
      &.rtl {
        display: $none;
      }
    }
  }
}
// end of footer

// overlay for ajax
.overlay {
  @include transition(all .2s ease-out);

  background-color: $light-gray-color;
  /* Firefox */
  height: -moz-calc(100% - 85px);
  /* WebKit */
  height: -webkit-calc(100% - 85px);
  /* Standard */
  left: $full-size;
  position: $fixed;
  right: -$full-size;
  height: calc(100% - 85px);
  top: $headerheight;
  width: $full-size;
  z-index: 2;

  &.active {
    left: $zero;
    right: $full-size;
  }

  &.deactive {
    left: -$full-size;
    right: $zero;
  }
}

// fullscreen slider style
.sliderContainer {
  height: $auto;
  position: $relative;
  width: $full-size;
}

#supersized {
  a {
    cursor: default;
  }
}
  // -- Controls Bar
#controls-wrapper {
  bottom: $footerheight + 10px;
  height: 40px;
  left: $zero;
  position: $fixed;
  width: $full-size;
  z-index: 4;
}

#controls {
  height: $full-size;
  overflow: $hidden;
  position: $relative;
  text-align: $left;
  width: $full-size;
  z-index: 5;

}

#slidecounter {
  bottom: $zero;
  color: $light-gray-color;
  font-size: .8em;
  font-weight: 200;
  left: 110px;
  line-height: 20px;
  position: $absolute;

  .slidenumber,
  .totalslides {
    &.rtl {
      @extend %fa-font;
    }

    &.ltr {
      @extend %en-font;
    }
  }
}

#slidecaption {
  color: $light-pink-color;
  font-weight: 200;
  left: 110px;
  line-height: 20px;
  overflow: $hidden;
  padding-left: 1.5em;
  position: $absolute;
  top: $zero;

  &::before {
    @extend %round-corner-full;
    border: solid 2px $pure-white-color;
    content: '';
    height: 13px;
    left: $zero;
    position: $absolute;
    top: 4px;
    width: 13px;
  }

  &.rtl {
    @extend %fa-font;
  }

  &.ltr {
    @extend %en-font;
  }
}

#prevslide, #nextslide {
  @extend %transition-normal;

  background-color: $light-black-color;
  color: $pure-white-color;
  font-size: .8em;
  height: 40px;
  line-height: 42px;
  position: $absolute;
  text-align: $center;
  top: $zero;
  width: 40px;
  z-index: 6;
}

#prevslide {
  left: 10px;
}

#nextslide {
  left: 60px;
}

#prevslide:active,
#nextslide:active,
#nextslide:hover,
#nextslide:hover {
  background-color: $dark-black-color;
}

#slide-list {
  bottom: $zero;
  left: 110px;
  margin: 0 !important;
  position: absolute;

  li {
    float: $left;
    height: 2px;
    margin: $zero 5px $zero $zero;
    width: 40px;

    a {
      @extend %transition-normal;

      background-color: $light-black-color;
      display: $disblock;
      height: $full-size;
      position: $relative;
      width: $full-size;

      &:hover {
        background-color: $light-white-color;
      }
    }

    &.current-slide {
      a {
        background-color: $light-white-color;
      }
    }
  }
}

#slide-list li a:hover {
  background-position: $zero -12px;
  cursor: $pointer;
}

  // -- Progressive bar
#progress-back {
  background-color: $light-normal-gray-color;
  bottom: 35px;
  height: 2px;
  left: $zero;
  position: $fixed;
  width: $full-size;
  z-index: 5;

  #progress-bar {
    background-color: $light-gray-color;
    height: 2px;
    position: $relative;
    width: $full-size;
  }
}
// end of fullscreen slider style

// white theme override colors
body.white {
  header {
    background-color: $pure-white-color-width-alpha;

    > a {
      h5 {
        b {
          color: $dark-cyan-color;
        }

        span {
          color: $light-gray-color;
        }
      }
    }
  }

  .topNav {
    li {

      a {
        @extend %transition-normal;

        color: $medium-black-color;

        &:hover,
        &:active,
        &:focus {
          color: $dark-cyan-color;
        }

        &:visited {
          color: $medium-black-color;
        }
      }

      a.active {
        &:visited {
          color: $dark-cyan-color;
        }

        &::before {
          background-color: $dark-cyan-color;
        }
      }
    }
  }

  #slidecaption {
    &::before {
      border-color: $dark-cyan-color;
    }
  }

  footer {
    background-color: $pure-white-color-width-alpha;

    .lang-selector {
      a {
        &.active {
          &::before {
            background-color: $dark-cyan-color;
          }
        }
      }
    }

    p {
      color: $medium-black-color;

      &.rtl {
        font-size: .8em;
        line-height: 33px;
      }
    }
  }

  #progress-back {
    @extend %bg-white;
  }
}
// end of white theme override colors

// static footer and slider when body has class hugContent
body.hugContent {
  footer {
    position: inherit;
  }

  #progress-back {
    bottom: -40px;
    position: $relative;
  }

  #controls-wrapper {
    bottom: 5px;
    position: $relative;
  }
}

// end of static header and slider when body has class hugContent

@import 'pageLoading';

@import 'responsive';
