:focus {
  outline: none; }

a {
  cursor: pointer; }
  a:hover, a:focus, a:active, a:visited {
      text-decoration: none;
      outline: none;
  }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rtl {
    direction: rtl;
}

header .search-container, header .search-container i, nav, nav li a, nav li a i, #prevslide, #nextslide, #slide-list li a, body.white nav li a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

#slidecaption::before {
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}

.fi-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 35px;
  height: 18px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 2px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

body.white .hamburger-inner, body.white .hamburger-inner::before, body.white .hamburger-inner::after {
    background-color: #333 !important;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

@font-face {
  font-family: 'Samim';
  src: url("../fonts/samim-font-v0.11.0/Samim.eot");
  src: url("../fonts/samim-font-v0.11.0/Samim.eot?#iefix") format("embedded-opentype"), url("../fonts/samim-font-v0.11.0/Samim.woff") format("woff"), url("../fonts/samim-font-v0.11.0/Samim.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Samim';
  src: url("../fonts/samim-font-v0.11.0/Samim-Bold.eot");
  src: url("../fonts/samim-font-v0.11.0/Samim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/samim-font-v0.11.0/Samim-Bold.woff") format("woff"), url("../fonts/samim-font-v0.11.0/Samim-Bold.ttf") format("truetype");
  font-weight: bold; }
#supersized-loader {
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  text-indent: -999em;
  top: 50%;
  width: 60px;
  z-index: 0; }

#supersized {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999; }
  #supersized img {
    border: none;
    display: none;
    height: auto;
    outline: none;
    position: relative;
    width: auto; }
  #supersized li {
    background: rgba(55, 55, 55, 0.8);
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -30; }
    #supersized li.prevslide {
      z-index: -20; }
      #supersized li.prevslide img {
        display: inline; }
    #supersized li.activeslide {
      z-index: -10; }
      #supersized li.activeslide img {
        display: inline; }
    #supersized li.image-loading {
      background: rgba(55, 55, 55, 0.8) no-repeat center center;
      height: 100%;
      width: 100%; }
      #supersized li.image-loading img {
        visibility: hidden; }
  #supersized a {
    display: block;
    height: 100%;
    width: 100%; }
  #supersized.quality img {
    image-rendering: optimizeQuality; }

@font-face {
  font-family: 'Flaticon';
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
    font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-angle-bottom:before {
  content: '\f100'; }

.flaticon-angle-left:before {
  content: '\f101'; }

.flaticon-angle-right:before {
  content: '\f102'; }

.flaticon-angle-top:before {
  content: '\f103'; }

.flaticon-bell:before {
  content: '\f104'; }

.flaticon-circle:before {
  content: '\f105'; }

.flaticon-search:before {
    content: '\f106';
}

body {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url("../images/kavoshabzar-background-5.jpg") no-repeat fixed center center;
  background-size: cover;
  margin: 0;
  padding: 0;
    font-size: 14px;
}
  body.fixed {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%; }

html[lang="fa"] body {
    font-family: Samim, Arial, sans-serif !important;
}

html[lang="en"] body {
    font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif !important;
}

header {
  background-color: rgba(37, 37, 37, 0.7);
  height: 50px;
  position: relative;
  width: 100%;
  z-index: 2; }
  header > a {
    display: block;
    height: 100%;
    max-width: 150px;
    width: 100%; }

header > a.pull-right {
    padding-right: 0.5em;
}

header > a.pull-right h5 {
    display: none;
    visibility: hidden;
}

header > a.pull-left {
    padding-left: 0.5em;
}

header > a h5 {
    left: 100px;
    line-height: .8;
    margin: 0;
    position: absolute;
    top: 0.5em;
    width: 300px;
}

header > a h5 p {
    color: #2de1fc;
    font-size: 1.2em;
    font-weight: bold;
}

header > a h5 span {
    color: #ddd;
    font-size: .9em;
}
    header > a img {
        margin-top: .5em;
        max-height: 35px;
    }

header .search-container {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: solid 1px #555;
    height: 35px;
    position: relative;
    top: 7px;
    width: 35px;
}

header .search-container input[type="text"] {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    background: none;
    border: none;
    height: 35px;
    visibility: hidden;
      width: 100%; }

header .search-container i {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    cursor: pointer;
    height: 35px;
    line-height: 33px;
    position: absolute;
    top: 0;
    width: 35px;
}

header .search-container.pull-right {
    right: 70px;
}

header .search-container.pull-right input[type="text"] {
    padding-left: 2.5em;
    padding-right: 0.5em;
}

header .search-container.pull-right .flaticon-search {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    left: initial;
    right: 0;
    visibility: visible;
}

header .search-container.pull-right .flaticon-circle {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    left: initial;
    right: 0;
    visibility: hidden;
}

header .search-container.pull-left {
    left: 220px;
}

header .search-container.pull-left input[type="text"] {
    padding-right: 2.5em;
    padding-left: 0.5em;
}

header .search-container.pull-left .flaticon-search {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    left: initial;
    right: 0;
    visibility: visible;
}

header .search-container.pull-left .flaticon-circle {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    left: initial;
    right: 0;
    visibility: hidden;
}

header .search-container.active {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 200px;
}

header .search-container.active input[type="text"] {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    visibility: visible;
}

header .search-container.active i {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

header .search-container.active.pull-right .flaticon-search {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    left: 0;
    right: initial;
    visibility: hidden;
}

header .search-container.active.pull-right .flaticon-circle {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    left: 0;
    right: initial;
    visibility: visible;
}

header .search-container.active.pull-left .flaticon-search {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
    left: 0;
    right: initial;
    visibility: hidden;
}

header .search-container.active.pull-left .flaticon-circle {
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)';
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
    left: initial;
    right: 0;
    visibility: visible;
}

nav {
    height: 50px;
}

nav.pull-left {
    padding-left: 2em;
}

nav.pull-right {
    padding-right: 2em;
}

nav > ul.rtl > li {
    float: right;
}

nav > ul.rtl > li a {
      font-size: .9em;
    text-align: right;
}

nav > ul.ltr > li {
    float: left;
}
  nav li {
    height: 50px;
      position: relative;
    width: auto; }
    nav li a {
      color: #ddd;
      display: block;
      font-size: 1em;
      font-weight: 200;
      height: 100%;
      line-height: 50px;
      padding: 0 1em;
      width: 100%; }

nav li a:hover, nav li a:active, nav li a:focus {
        color: #2de1fc; }

nav li a:visited {
    color: #ddd;
}

nav li a i {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1rem;
}
    nav li a.active {
      color: #2de1fc;
      font-style: italic;
      position: relative; }
      nav li a.active::before {
        background-color: #2de1fc;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2; }

nav li ul {
    -moz-border-radius: 0 0 3px 3px !important;
    -webkit-border-radius: 0 0 3px 3px !important;
    border-radius: 0 0 3px 3px !important;
    margin: 0 !important;
}

nav li ul.rtl {
    left: initial !important;
    right: 0;
}

nav li ul.ltr {
    left: 0;
    right: initial !important;
}

nav li ul li {
    height: 35px;
}

nav li ul li a {
    line-height: 33px !important;
}

footer {
  background-color: rgba(55, 55, 55, 0.8);
  bottom: 0;
  height: 35px;
  left: 0;
  position: fixed;
  width: 100%; }
  footer .lang-selector {
    height: 35px;
    margin-left: 1em;
    max-width: 200px;
    width: 100%; }
    footer .lang-selector li {
      height: 35px;
      margin-right: 0.5em;
      width: 30px; }

footer .lang-selector li:nth-child(1) .tooltip {
    font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif !important;
}

footer .lang-selector li:nth-child(2) .tooltip {
    font-family: Samim, Arial, sans-serif !important;
}
    footer .lang-selector a {
      display: block;
      height: 100%;
      position: relative; }
      footer .lang-selector a.active::before {
        background-color: #2de1fc;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%; }
      footer .lang-selector a img {
        display: block;
        max-width: 25px;
        position: relative;
        top: 0.5em; }
  footer p {
    color: #dcdcdc;
    display: block;
    height: 35px;
    line-height: 35px;
    padding-right: 0.5em; }

footer p.rtl {
    font-size: .8em;
    line-height: 33px;
}
    footer p .current-year.rtl {
        display: none;
    }

.overlay {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #999;
    /* Firefox */
    height: -moz-calc(100% - 85px);
    /* WebKit */
    height: -webkit-calc(100% - 85px);
    /* Opera */
    height: -o-calc(100% - 85px);
    /* Standard */
    left: 100%;
    position: fixed;
    right: -100%;
    height: calc(100% - 85px);
    top: 50px;
    width: 100%;
}

.overlay.active {
    left: 0;
    right: 100%;
}

.overlay.deactive {
    left: -100%;
    right: 0;
}

#supersized a {
    cursor: default;
}

#controls-wrapper {
  bottom: 45px;
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 4; }

#controls {
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 5; }

#slidecounter {
  bottom: 0;
  color: #999;
  font-size: .8em;
  font-weight: 200;
  left: 110px;
  line-height: 20px;
  position: absolute; }
  #slidecounter .slidenumber.rtl,
  #slidecounter .totalslides.rtl {
      font-family: Samim, Arial, sans-serif !important;
  }
  #slidecounter .slidenumber.ltr,
  #slidecounter .totalslides.ltr {
      font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif !important;
  }

#slidecaption {
  color: #fff;
  font-weight: 200;
  left: 110px;
  line-height: 20px;
  overflow: hidden;
  padding-left: 1.5em;
  position: absolute;
  top: 0; }
  #slidecaption::before {
    border: solid 2px #fff;
    content: '';
    height: 13px;
    left: 0;
    position: absolute;
      top: 4px;
    width: 13px; }
  #slidecaption.rtl {
      font-family: Samim, Arial, sans-serif !important;
  }
  #slidecaption.ltr {
      font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif !important;
  }

#prevslide, #nextslide {
  background-color: rgba(55, 55, 55, 0.8);
  color: #fff;
  font-size: .8em;
  height: 40px;
  line-height: 42px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
  z-index: 6; }

#prevslide {
  left: 10px; }

#nextslide {
  left: 60px; }

#prevslide:active,
#nextslide:active,
#nextslide:hover,
#nextslide:hover {
  background-color: rgba(37, 37, 37, 0.7); }

#slide-list {
  bottom: 0;
  left: 110px;
  margin: 0 !important;
  position: absolute; }
  #slide-list li {
    float: left;
    height: 2px;
    margin: 0 5px 0 0;
    width: 40px; }
    #slide-list li a {
      background-color: rgba(55, 55, 55, 0.8);
      display: block;
      height: 100%;
      position: relative;
      width: 100%; }
      #slide-list li a:hover {
        background-color: #ddd; }
    #slide-list li.current-slide a {
      background-color: #ddd; }

#slide-list li a:hover {
  background-position: 0 -12px;
  cursor: pointer; }

#progress-back {
  background-color: rgba(54, 54, 54, 0.6);
  bottom: 35px;
  height: 2px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5; }
  #progress-back #progress-bar {
    background-color: #999;
    height: 2px;
    position: relative;
    width: 100%; }

body.white header {
    background-color: rgba(255, 255, 255, 0.8);
}

body.white header > a h5 p {
    color: #0e68b1;
}

body.white header > a h5 span {
    color: #999;
}
body.white nav li a {
    color: #333;
}

body.white nav li a:hover, body.white nav li a:active, body.white nav li a:visited, body.white nav li a:focus {
    color: #0e68b1;
}

body.white nav li a:visited {
    color: #333;
}
body.white nav li a.active:visited {
    color: #0e68b1;
}
body.white nav li a.active::before {
    background-color: #0e68b1;
}
body.white #slidecaption::before {
    border-color: #0e68b1;
}
body.white footer {
    background-color: rgba(255, 255, 255, 0.8);
}

body.white footer .lang-selector a.active::before {
    background-color: #0e68b1;
}

body.white footer p {
    color: #333;
}

body.white footer p.rtl {
    font-size: .8em;
    line-height: 33px;
}
body.white #progress-back {
    background-color: #fff;
}

.sk-cube-grid {
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    -moz-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
@-moz-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -moz-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -moz-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
@media screen and (max-width: 920px) {
    header .logo h5 {
        display: none;
    }

    .search-container.pull-left {
        left: 0 !important;
    }
}
@media screen and (max-width: 768px) {
  nav {
    background-color: rgba(83, 83, 83, 0.9);
    /* Firefox */
      height: -moz-calc(100% - 85px);
    /* WebKit */
      height: -webkit-calc(100% - 85px);
    /* Opera */
      height: -o-calc(100% - 85px);
    /* Standard */
      height: calc(100% - 85px);
    max-width: 300px;
    padding-left: 2em;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 2; }
    nav.pull-left {
        left: -100%;
    }
    nav.pull-right {
        right: -100%;
    }
    nav.active.pull-left {
      left: 0; }
    nav.active.pull-right {
        right: 0;
    }
    nav li {
      width: 100%; }
      nav li a {
          color: #fff !important;
        font-weight: normal; }

    nav li a:visited {
        color: #2de1fc !important;
    }

    nav li a::before {
        background-color: #2de1fc !important;
    }

  footer p {
    font-size: 13px; } }

/*# sourceMappingURL=style.css.map */
