// font variables
$body-default-font-size: 14px;
$font-stack: Samim, tahoma, serif !important;

// default property
$center: center;
$justify: justify;
$right: right;
$left: left;
$dirleft: ltr;
$dirright: rtl;
$none: none;

// color variables
$pure-white-color: #fff;
$light-white-color: #ddd;
$light-normal-gray-color: rgba(54, 54, 54, .6);
$dark-gray-color: rgba(83, 83, 83, .9);
$light-black-color: rgba(37, 37, 37, .7);
$cyan-color: #2de1fc;

// positions & displays
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$disblock: block;
$distable: table;

// size variables
$zero: 0;
$full-size: 100%;
$half-size: 50%;
$logowidth: 40px;
$headerwidth: 60px;
$headerwidthactivated: 270px;
$headerheight: 50px;
$footerheight: 30px;
$half-em: .5em;
$half-rem: .5rem;
$full-em: 1em;
$full-rem: 1rem;

// formcontainer variables
$formcontainerwidth: 1000px;
$formleftside: 7%;
$formcontent: 93%;
$formcontainerheight: 500px;