// font variables
$body-default-font-size: 14px;
$font-stack: Samim, sans-serif !important;
$font-stack-en: 'Titillium Web', 'Helvetica Neue', sans-serif !important;

// default property
$center: center;
$justify: justify;
$right: right;
$left: left;
$dirleft: ltr;
$dirright: rtl;
$none: none;

// color variables
$pure-white-color: #fff;
$pure-white-color-width-alpha: rgba(255, 255, 255, .8);
$medium-white-color: #dcdcdc;
$light-white-color: #ddd;
$light-normal-gray-color: rgba(54, 54, 54, .6);
$light-gray-color: #999;
$dark-gray-color: rgba(83, 83, 83, .9);
$medium-black-color: #333;
$medium-gray-color: #555;
$dark-black-color: rgba(37, 37, 37, .7);
$dark-black-color-az: rgba(37, 37, 37, 1);
$light-black-color: rgba(55, 55, 55, .8);
$cyan-color: #2de1fc;
$dark-cyan-color: #0e68b1;
$pure-black-color: #000;
$light-green-color: #cafb95;
$light-pink-color: #e02635;

// positions & displays
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$static: static;
$disblock: block;
$distable: table;
$hidden: hidden;
$visibile: visible;
$auto: auto;
$pointer: pointer;

// size variables
$zero: 0;
$full-size: 100%;
$half-size: 50%;
$logowidth: 40px;
$headerwidth: 60px;
$headerwidthactivated: 270px;
$headerheight: 50px;
$footerheight: 35px;
$half-em: .5em;
$half-rem: .5rem;
$full-em: 1em;
$full-rem: 1rem;
