// font variables
$body-default-font-size: 14px;
$font-stack: Samim, sans-serif;
$font-stack-en: 'Titillium Web', 'Helvetica Neue', sans-serif;

// default property
$center: center;
$justify: justify;
$right: right;
$left: left;
$dirleft: ltr;
$dirright: rtl;
$none: none;

// color variables
$pure-white-color: #fff;
$pure-white-color-width-alpha: rgba(255, 255, 255, .95);
$normal-white-with-alpha: rgba(255, 255, 255, .3);
$medium-white-color: #dcdcdc;
$light-white-color: #ddd;
$dark-white-color: #f5f5f5;
$normal-white-color: #ccc;
$light-normal-gray-color: rgba(54, 54, 54, .6);
$light-gray-color: #999;
$dark-gray-color: rgba(83, 83, 83, .9);
$medium-black-color: #333;
$medium-gray-color: #555;
$dark-black-color: rgba(37, 37, 37, .9);
$dark-black-color-az: rgba(37, 37, 37, 1);
$light-black-color: rgba(55, 55, 55, .8);
$light-dark-color: rgba(0, 0, 0, .37);
$cyan-color: #2de1fc;
$light-yellow-color: #f1f3e8;
$dark-cyan-color: #0e68b1;
$dark-blue-color: #0a6285;
$pure-black-color: #000;
$light-green-color: #cafb95;
$normal-green-color: #8bc34a;
$light-pink-color: #e02635;
$red-color: #f44336;
$yellow-color: #fdd835;
$green-color: #8bc34a;
$blue-color: #5ac7e0;

// positions & displays
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$static: static;
$disblock: block;
$distable: table;
$hidden: hidden;
$visible: visible;
$auto: auto;
$pointer: pointer;

// size variables
$zero: 0;
$full-size: 100%;
$half-size: 50%;
$logowidth: 40px;
$headerwidth: 60px;
$headerwidthactivated: 270px;
$headerheight: 50px;
$footerheight: 35px;
$half-em: .5em;
$half-rem: .5rem;
$full-em: 1em;
$full-rem: 1rem;
